In [27]:
import json
import nltk
from nltk.tokenize import word_tokenize
import pandas as pd
import numpy as np
import csv
from gensim.models import Doc2Vec
import gensim
from gensim.models.doc2vec import TaggedDocument
import copy

In [16]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/andyliu/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [6]:
west = pd.read_json('/Users/andyliu/develop/ratingregionalreviews/WEST_data_mini.json', lines=True)
east = pd.read_json('/Users/andyliu/develop/ratingregionalreviews/EAST_data_mini.json', lines=True)
south = pd.read_json('/Users/andyliu/develop/ratingregionalreviews/SOUTH_data_mini.json', lines=True)
midwest = pd.read_json('/Users/andyliu/develop/ratingregionalreviews/MIDWEST_data_mini.json', lines=True)

In [9]:
df_no_midwest = pd.concat([west, east, south])

In [10]:
texts = list(df_no_midwest['text'])

In [17]:
tagged_data = [TaggedDocument(words=word_tokenize(_d.lower()), tags=[str(i)]) for i, _d in enumerate(texts)]

In [18]:
max_epochs = 10
vec_size = 5
alpha = 0.025


model = Doc2Vec(vector_size=vec_size, #it was size earlier
                alpha=alpha, 
                min_alpha=0.00025,
                min_count=1,
                dm =1)

model.build_vocab(tagged_data)

for epoch in range(max_epochs):
    if epoch % 10 == 0:
        print('iteration {0}'.format(epoch))
    model.train(tagged_data,
                total_examples=model.corpus_count,
                epochs=model.epochs) #It was model.iter earlier
    # decrease the learning rate
    model.alpha -= 0.0002
    # fix the learning rate, no decay
    model.min_alpha = model.alpha

print("Model Ready")

iteration 0
Model Ready

In [30]:
def vectors(s):
    text = s['text']
    token = word_tokenize(text.lower())
    v = model.infer_vector(test_data)
    return v[0], v[1], v[2], v[3], v[4]

In [34]:
df_no_midwest_vec = copy.deepcopy(df_no_midwest)

In [35]:
df_no_midwest_vec[['v1', 'v2', 'v3', 'v4', 'v5']] = df_no_midwest_vec.apply(vectors, axis=1, result_type="expand")

In [36]:
df_no_midwest_vec.head()

,region,text,stars,v1,v2,v3,v4,v5
0,WEST,This is a great bar that incorporates elements...,4,-0.095425,0.649100,0.106599,-0.699490,0.625229
1,WEST,This is a wonderful spot for brunch. The outdo...,5,-0.199985,0.814275,-0.150819,-0.556050,0.382525
2,WEST,"We ordered Mark's Big Breakfast, I think it wa...",5,-0.029574,0.636968,-0.222279,-0.506376,0.728721
3,WEST,**Update-we were told someone would call us wi...,1,-0.132855,0.712116,-0.006350,-0.431171,0.763641
4,WEST,This is a fun casino with lots of carnival gam...,3,-0.028326,0.487402,-0.062310,-0.583112,0.510148

In [37]:
midwest_vec = midwest

In [38]:
midwest_vec[['v1', 'v2', 'v3', 'v4', 'v5']] = midwest_vec.apply(vectors, axis=1, result_type="expand")

In [39]:
midwest_vec.head()

,region,text,stars,v1,v2,v3,v4,v5
0,MIDWEST,Went to Crackers a few weeks back downtown. T...,5,-0.328941,0.609768,-0.201188,-0.587899,0.787064
1,MIDWEST,Best ribs I've ever had! This place is amazing...,5,0.000717,0.672876,-0.029175,-0.737492,0.538635
2,MIDWEST,A friend and I ventured here in search of chip...,4,-0.303698,0.855629,-0.143217,-0.695547,0.451759
3,MIDWEST,The Meridian Street Post Office is up there wi...,2,0.017078,0.572000,-0.127240,-0.534910,0.686207
4,MIDWEST,About as bad of a Marriott experience I have e...,1,-0.088832,0.449444,-0.354896,-0.620470,0.600226

In [68]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold

In [44]:
X_train = df_no_midwest_vec.drop(["region", "text", "stars"], axis=1)
Y_train = df_no_midwest_vec["stars"]
X_test = midwest_vec.drop(["region", "text", "stars"], axis=1)
Y_test = midwest_vec["stars"]

In [56]:
model = GradientBoostingRegressor()

In [57]:
model.fit(X_train, Y_train)

GradientBoostingRegressor()

In [58]:
Y_pred = model.predict(X_test)

In [65]:
mean_absolute_error(Y_pred, Y_test)

1.261600551955837